<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="quiz.html" method="get">

        <h1>Bem vindos ao Login do Quiz</h1>
        <input type="text" name="usuario" id="usuario" placeholder="Digite o seu usuário:"> <br><br>
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha:"> <br><br>
        <input type="submit" value="Fazer Login">
       
    </form>
</body>
</html>