<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Bem vindos ao quiz!</h1>
    <div>
        <h3 id="quest1">Questão 1</h3>
        <label for="">Como foi o império Mongol?</label>
        <p>A) Forte e conquistador</p>
        <p>B) Fraco e dominado</p>
        <p>C) Pacífico  </p>
        <p>D) Não existiu </p>
        <input type="text" name="dResposta" id="dResposta" placeholder="Digite a alternativa correta: "> <br><br>
        <p id="resposta"></p>
        <button onclick="Verificar()">Verificar Resposta</button>

        

    </div>
    
    <script src="/assets/script.js"></script>
</body>
</html>